%flexCenter {
    display: flex;
    justify-content: space-between;
}

%clickBtnActiv {
    box-shadow: 1px 8px 31px -9px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 1px 8px 31px -9px rgba(0,0,0,1) inset;
    -moz-box-shadow: 1px 8px 31px -9px rgba(0,0,0,1) inset;
}